
# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# Logs
*.log
logs/

# ML Artifacts
artifacts/
models/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db